.entry-box {
    border: 2px dashed #f00; /* 2px dashed red border */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Add a subtle shadow */
    padding: 30px;


}