<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chat - [[${channel}]]</title>
    <link rel="stylesheet" href="/bg.css">
    <style>
        #data-container {
            width: 100%;
            height: 300px; /* Adjust the height as needed */
            border: 1px solid #ccc;
            padding: 10px;
            overflow-y: auto; /* Add vertical scrollbar */
            background-color: #f9f9f9;
            border-radius: 20px; /* Rounded corners */
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for better appearance */
        }
    </style>
</head>
<body>
<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<div class="content">
    <h1>Welcome to the [[${channel}]] channel [[${name}]]</h1>
    <div class="entry-box">
        <div id="data-container">
            <!-- Chat messages will appear here -->
        </div>
        <input type="text" id="myInput" placeholder="Enter your message...">
    </div>
    <script>
        const yourName = "[[${name}]]";
        const channel = "[[${channel}]]";
        const listOfMessages = "[[${listOfMessages}]]";
    </script>
    <script type="text/javascript" src="/js/channels.js"></script>
</div>
</body>
</html>

