<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Channels</title>
    </head>
    <body>
        <h2> Welcome to Chat Channel </h2>
        <div style="border: 2px solid black;" id="data-container"></div>
        <input type="text" id="myInput">
        <script>
            var yourName = "[[${name}]]";
            var channel = "[[${channel}]]";
        </script>
        <script type="text/javascript" src="/js/channels.js"></script>

<!--        <th:block th:text="${channel}"></th:block>-->
    </body>
</html>
