<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Welcome</title>
    </head>
    <body>
        <h2>Join A Channel</h2>
        <form action="/channels" method="get">
            <label>Enter your name:</label>
            <p>
                <input type="text" id="nameTextBox" name="name">
            </p>
            <label>Choose chat channel:</label>
            <select id="channelSelected" name="channel">
                <option value="null">Channel menu</option>
                <option value="ch1">Channel 1</option>
                <option value="ch2">Channel 2</option>
                <option value="ch3">Channel 3</option>
            </select>
            <button type="submit">Submit</button>
        </form>
     </body>
</html>