<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Welcome</title>
    </head>
    <body>
        <h2>Join A Channel</h2>
        <!-- <a th:href="@{/channels}">General</a> -->
        <a href="#" id="myLink">New General</a>

        <form id="myForm" action="http://localhost:8080/channels" method="POST">
            <input type="hidden" name="data1" id="data1">
           <!-- <input type="hidden" name="data2" id="data2"> -->
        </form>


        <script type="text/javascript" src="/js/welcome.js"></script>
     </body>
</html>